
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{% static 'css/feed.css' %}"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{% static 'jquery/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/feed.js' %}"></script>


</head>


<body>

	<ul id="dropdown1" class="dropdown-content">
		<li><a href="/profile">Profile</a></li>
		<li><a href="/settings">Settings</a></li>
		<li><a href="/logout">Logout</a></li>
	</ul>

	<nav>
		<div class="navbar-fixed">
			<a href="/feed" class="brand-logo center">Ditto</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/friends">Friends</a></li>
				<li><a class="dropdown-button" href="#" data-activates="dropdown1"><i class="material-icons">account_circle</i></a></li>
			</ul>
		</div>
	</nav>
<!--   <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
</div> -->
<div id='feed_format'>
	<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		<!-- Modal Trigger -->
		<a class="btn-floating btn-large red modal-trigger" href="#modal1">
			<i class="large material-icons">mode_edit</i>
		</a>
	</div>
	<!-- Modal Structure -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4>Create a new post</h4>
			<!--THIS WILL HAVE TO GET INTEGRATED INTO THE CARDS-->
			<div style="padding-right: 10%; padding-left: 10%;">
				<form id="create-post" action="{% url 'feed:create_post' %}" method = 'post' enctype="multipart/form-data">
					{% csrf_token %}

					<div class="input-field" id = "post-title">
						<input color="black" placeholder="Title" id = "title" type="text">
					</div>

					<div class="input-field" id = "post-description">
						<input placeholder="Description" id = "description" type="text">
					</div>

					<textarea id="post-input" class="materialize-textarea"></textarea>

					<div class="input-field" id = "post-categories">
						<input placeholder="categories" id= "categories" type="text">
					</div>

					<div class="row">

						<div class="col s3">

							<p>
								<input type="checkbox" id="is-markdown-post" />
								<label for="is-markdown-post">Markdown</label>
							</p>

						</div>
						<div class="col s9">
							<div class="input-field">
								<select id="visibility">
									<option value="PUBLIC">Public</option>
									<option value="FOAF">FOAF</option>
									<option value="FRIENDS">Friends</option>
									<option value="PRIVATE">Private</option>
									<option value="SERVERONLY">Server Only</option>

								</select>
								<label>Choose Privacy Setting</label>
							</div>

						</div>
					</div>

					<input type="file" name="file" id="file"/>

					<div class="modal-footer">
						<button class="modal-action modal-close waves-effect btn-flat" type="submit">CREATE POST
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s12">
			<ul class="tabs transparent">
				<li class="tab col s3"><a href="#my_feed">My Feed</a></li>
				<li class="tab col s3"><a href="#public_feed">Public Feed</a></li>
				<li class="tab col s3"><a href="#my_posts">My Posts</a></li>
				<li class="tab col s3"><a href="#git_posts">Github Feed</a></li>
			</ul>
		</div>
		<div id="my_feed" class="col s12">
			{% for main_post in main_posts %}
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title">
            <div class="row">
              <div class="col s11">
                <a class="modal-trigger"  href="#{{main_post.id}}">
                  {{main_post.title}}
                </a>
              </div>
              <div class="col s1">
                {% if main_post.flag %}
                <form id="post-form" action="{% url 'delete' %}" method = 'post'>
                  {% csrf_token %}
                  <input type="hidden" value="{{main_post.id}}" name="post_id">
                  <span class="card-title activator grey-text text-darken-4">
                    <button class="material-icons right"><i class="material-icons">close</i></button>
                  </span>
                </form>
                {% endif %}
              </div>
            </span>
            <div class="col s11">
              <p><i>{{main_post.description}}</i></p>
            </div>
          </div>
        </div>
			</div>
			<div id="{{main_post.id}}" class="modal">
				<div class="modal-content">
					<div class="row">
						<div class = "col s6">
							<h1 style="font-size: 2em;"> {{main_post.title}} </h1>
						</div>
						<div class = "col s6">  
							<h2 style="font-size: 1em;"> {{main_post.author_name}} </h2>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div style="word-break: break-all;">
								{{main_post.content | safe}}
							</div>
						</div>
					</div>

					<hr>
					{% for main_post_comment in main_post.comments %}
					<div class = "row">
						<i class="fa fa-comment"></i>
						<div class="col s11 offset-s1">
							<div style="word-break: break-all;">
								{{main_post_comment.comment | safe}}
							</div>
								<div style="color:grey; font-size:x-small">by {{main_post_comment.author_name | safe}}</div>
						</div>
					</div> 
					<hr>

					{% endfor %}
					<form name="create-comment" action="{% url 'create_comment' %}" method = 'post'>
						{% csrf_token %}

						<textarea placeholder="Enter comment here..." name="comment-input" class="materialize-textarea"></textarea>
						<div class="col s3">

							<input type="hidden" value="{{main_post.id}}" name="comment-parent-id"/>
							<input type="hidden" value="{{main_post.origin}}" name="comment-parent-origin"/>


							<p>
								<input type="checkbox" id="{{main_post.id}}MAINPOSTMARKDOWN" name="comment-is-markdown"/>
								<label for="{{main_post.id}}MAINPOSTMARKDOWN">Markdown</label>
							</p>

							<button type="submit"> ADD COMMENT </button>
						</div>
					</form>
				</div>
			</div>
			{% endfor %}
		</div>

		<div id="public_feed" class="col s12">
			{% for public_post in public_posts %}
			<div class="card">
				<div class="card-content black-text">
					<span class="card-title">
						<div class="row">
							<div class="col s11">
								<a class="modal-trigger"  href="#{{public_post.id}}PUBLIC">
									{{public_post.title}}      
								</a>
							</div>
							<div class="col s1">
								{% if public_post.flag %}
								<form id="post-form" action="{% url 'delete' %}" method = 'post'>
									{% csrf_token %}
									<input type="hidden" value="{{public_post.id}}" name="post_id">

									<span class="card-title activator grey-text text-darken-4">
										<button class="material-icons right"><i class="material-icons">close</i></button>
									</span>
								</form>
								{% endif %}
							</div>
						</span>
						<div class="col s11">
							<p><i>{{public_post.description}}</i></p>
						</div>
					</div>
				</div>

			</div>
			<div id="{{public_post.id}}PUBLIC" class="modal">
				<div class="modal-content">
					<div class="row">
						<div class = "col s6">
							<h1 style="font-size: 2em;"> {{public_post.title}} </h1>
						</div>
						<div class = "col s6">  
							<h2 style="font-size: 1em;"> {{public_post.author_name}} </h2>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div style="word-break: break-all;">
								{{public_post.content | safe}}
							</div>
						</div>
					</div>

					<br><hr><br>
					{% for public_post_comment in public_post.comments %}
					<div class = "row">
						<i class="fa fa-comment"></i>
						<div class="col s11 offset-s1">
							<div style="word-break: break-all;">
								{{public_post_comment.comment | safe}}
							</div>
								<div style="color:grey; font-size:x-small">by {{public_post_comment.author_name}}</div>
						</div>
					</div>  
					<hr>

					{% endfor %}
					<form name="create-comment" action="{% url 'create_comment' %}" method = 'post'>
						{% csrf_token %}

						<textarea placeholder="Enter comment here..." name="comment-input" class="materialize-textarea"></textarea>
						<div class="col s3">

							<input type="hidden" value="{{public_post.id}}" name="comment-parent-id">
							<input type="hidden" value="{{public_post.origin}}" name="comment-parent-origin"/>


							<p>
								<input type="checkbox" id="{{public_post.id}}PUBLICPOSTMARKDOWN" name="comment-is-markdown"/>
								<label for="{{public_post.id}}PUBLICPOSTMARKDOWN">Markdown</label>
							</p>

							<button type="submit"> ADD COMMENT </button>
						</div>
					</form>
				</div>
			</div>
			{% endfor %}
		</div>


		<div id="my_posts" class="col s12">
			{% for my_post in my_posts %}
			<div class="card">
				<div class="card-content black-text">
					<span class="card-title">
						<div class="row">
							<div class="col s11">
								<a class="modal-trigger"  href="#{{my_post.id}}MY">
									{{my_post.title}}      
								</a>
							</div>
							<div class="col s1">
								{% if my_post.flag %}
								<form id="post-form" action="{% url 'delete' %}" method = 'post'>
									{% csrf_token %}
									<input type="hidden" value="{{my_post.id}}" name="post_id">

									<span class="card-title activator grey-text text-darken-4">
										<button class="material-icons right"><i class="material-icons">close</i></button>
									</span>
								</form>
								{% endif %}
							</div>
						</span>
						<div class="col s11">
							<p><i>{{my_post.description}}</i></p>
						</div>
					</div>
				</div>
			</div>

			<div id="{{my_post.id}}MY" class="modal">
				<div class="modal-content">
					<div class="row">
						<div class = "col s6">
							<h1 style="font-size: 2em;"> {{my_post.title}} </h1>
						</div>
						<div class = "col s6">  
							<h2 style="font-size: 1em;"> {{my_post.author_name}} </h2>
						</div>
					</div>
					<div class="row">
						<div class="col s12">
							<div style="word-break: break-all;">
								{{my_post.content | safe}}
							</div>
						</div>
					</div>


					<br><hr><br>
					{% for my_post_comment in my_post.comments %}
					<div class = "row">
						<i class="fa fa-comment"></i>
						<div class="col s11 offset-s1">
							<div style="word-break: break-all;">
								{{my_post_comment.comment | safe}}
							</div>
								<div style="color:grey; font-size:x-small">by {{my_post_comment.author_name}}</div>
						</div>
					</div>  
					<hr>

					{% endfor %}


					<form name="create-comment" action="{% url 'create_comment' %}" method = 'post'>
						{% csrf_token %}

						<textarea placeholder="Enter comment here..." name="comment-input" class="materialize-textarea"></textarea>
						<div class="col s3">

							<input type="hidden" value="{{my_post.id}}" name="comment-parent-id">
							<input type="hidden" value="{{my_post.origin}}" name="comment-parent-origin"/>


							<p>
								<input type="checkbox" id="{{my_post.id}}MYPOSTMARKDOWN" name="comment-is-markdown"/>
								<label for="{{my_post.id}}MYPOSTMARKDOWN">Markdown</label>
							</p>

							<button type="submit"> ADD COMMENT </button>
						</div>
					</form>
				</div>
			</div>

			{% endfor %}
		</div>

		<div id="git_posts" class="col s12"> 
					{% for my_git_post in github_posts %}
					<center>
						<div class="card center-align">
							<div class="gitcard-header">
							</div>
							<div class="gitcard-content">
							  	<i class="fa fa-github fa-3x" style="color:salmon"></i>
							    <h3>{{my_git_post.title}}</h3>
							    <br>
							    <h4 style="color:gray">{{my_git_post.date}}</h4>
							    <h4><a href="{{my_git_post.link}}">View</a></h4>
							    <br>
							  </div>
							</div></center>
			{% endfor %}
		</div>
		
	</div>
</div>
</body>