.githubImg {
	padding-left: 5px;
	height: 22.5px;
	width: 	22.5px;
}

#settings {
	padding-left: 3%;
}

#setList {
	padding-left: 30%;
	padding-right: 30%
}

#checkBox {
	padding-right: 1%;
}

#listitem {
	padding-left: 5%;
	padding-right: 5%;
}